:root {
  --theme-color: #682426;
  --white-color: #ffffff;
  --black-color: #030303;
  --header-font: "Days", sans-serif;
  --hr-w: 75px;
  --hr-h: 75px;
  --filter-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(119deg)
    brightness(106%) contrast(107%);
  --filter-black: invert(0%) sepia(15%) saturate(20%) hue-rotate(6deg)
    brightness(93%) contrast(98%);
  --filter-theme: invert(12%) sepia(92%) saturate(1652%) hue-rotate(335deg)
    brightness(86%) contrast(86%);
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Philosopher&display=swap&subset=cyrillic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #333;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Days";
  src: url(../fonts/Days.woff2) format("woff2");
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  color: inherit;
  background: none;
  outline: none;
}
strong {
  font-weight: 600;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}
.intro-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 0.9em;
}
.section-title {
  font-family: var(--header-font);
  color: var(--theme-color);
  margin: auto;
  text-align: center;
  font-weight: 500;
  font-size: 1.65em;
  padding: 40px 0;
}
#contacts-form {
  padding-bottom: 50px;
}
@media (max-width: 768px) {
  #contacts-form {
    padding-bottom: 50px;
  }
}
.hide {
  display: none;
}
.contacts-form-container {
  display: flex;
  gap: 50px;
}
.contacts-form-content {
  width: 50%;
}
.contacts-form-title.section-subtitle {
  text-align: center;
  font-size: 1.3em;
  margin-top: -10px;
  font-weight: 300;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .contacts-form-container {
    flex-direction: column;
    gap: 30px;
  }
  .contacts-form-content {
    width: 100%;
  }
  .order {
    order: -1;
  }
  .contacts-form-title.section-subtitle {
    font-size: 1em;
  }
}
.contacts-form-input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 0.9em;
  font-weight: 200;
  padding: 7px 10px;
  margin-bottom: 20px;
  transition: 0.3s;
  outline: none;
}
.contacts-form-input:focus {
  border-bottom: 1px solid #333;
}
.contacts-form-label {
  padding: 7px 10px;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: 200;
  display: flex;
  align-items: center;
}
.contacts-form-checkbox {
  margin-right: 10px;
}
.contacts-form-submit {
  border: none;
  background-color: var(--theme-color);
  padding: 10px;
  color: #fff;
  margin: 10px 0 0;
  padding-left: 35px;
  cursor: pointer;
  background-image: url(../images/message.svg);
  background-repeat: no-repeat;
  background-size: 1.2em;
  background-position: 10px;
  transition: 0.5s;
}
.contacts-form-submit:hover {
  opacity: 0.9;
}
header {
  display: flex;
  align-items: center;
  min-height: 80px;
  width: 100%;
  background-color: #fff;
  /*position: fixed;
    z-index: 5;
    border-bottom: 1px solid var(--theme-color);*/
}
header:hover {
  opacity: 1;
}
@media (max-width: 768px) {
  header {
    height: auto;
  }
}
.logo {
  display: inline-block;
  margin: 0;
  font-family: "Days", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--theme-color);
  width: 250px;
  height: 38px;
  padding-left: 55px;
  background-image: url(../images/logo-icon.svg);
  background-position: 0 5px;
  background-size: 45px;
  background-repeat: no-repeat;
  letter-spacing: 1.3px;
  line-height: 21.1px;
}
.logo::first-line {
  letter-spacing: 0px;
}
footer .logo {
  background-image: url(../images/logo-white.svg);
  color: #fff;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    padding-top: 20px;
  }
  .header-container nav.header-nav {
    display: flex;
    font-size: 0.9em;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .header-container nav.header-nav a.header-nav-elem {
    margin: 5px;
    color: var(--theme-color);
  }
}
.header-nav-elem {
  margin-left: 20px;
  color: var(--theme-color);
  font-size: 0.9em;
  position: relative;
  padding: 1px 5px;
  transition: 0.3s;
}
.header-nav-elem:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--theme-color);
  bottom: -18px;
  transition: 0.3s;
  left: 50%;
  transform: translateX(-50%);
}
.header-nav-elem:hover .header-nav-text {
  color: var(--theme-color);
}
.header-nav-elem:hover:after {
  width: 100%;
}
footer {
  padding: 30px 0;
  background-color: var(--theme-color);
}
footer * {
  color: #fff;
}
.footer-folder-main {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  gap: 25px;
}
@media (max-width: 768px) {
  .footer-folder-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .footer-folder-main-contacts {
    text-align: center;
  }
}
.footer-folder-logo {
  width: 300px;
  height: 40px;
  display: block;
  background-image: url(../images/logo-w.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .footer-folder-logo {
    background-position: center;
  }
}
.footer-folder-main-address {
  font-weight: 200;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .footer-folder-main-address {
    margin-bottom: 0;
  }
}
.footer-folder-main-contact {
  padding: 0 0 15px;
  font-weight: 200;
}
.icon-phone {
  height: 20px;
  width: 20px;
  background-image: url("../images/icon-phone.svg") no-repeat;
  filter: var(--filter-white);
  background-size: cover;
}
.icon-email {
  height: 20px;
  width: 20px;
  background-image: url("../images/icon-email.svg") no-repeat;
  background-size: cover;
  filter: var(--filter-white);
}
.footer-folder-elem {
  margin: 10px 0;
  display: block;
  font-weight: 200;
}
.footer-folder-title {
  font-size: 1.2em;
  margin-bottom: 30px;
}
.footer-folder-main-watermark {
  font-weight: 100;
  font-size: 0.8em;
}
.hr {
  filter: var(--hr-f-black);
}
.hr:before,
.hr:after {
  position: absolute;
  top: 50%;
  content: "";
  height: 1px;
  background-color: #682426;
  width: calc(50% - var(--hr-w));
}
.hr:before {
  left: 0;
}
.hr:after {
  right: 0;
}
.hr div {
  position: relative;
  margin: auto auto;
  width: var(--hr-w);
  height: var(--hr-h);
  border: 1px solid #682426;
  background-image: url(../images/logo-icon.svg);
  background-size: calc(var(--hr-w) * 0.5);
  background-position: center;
  background-repeat: no-repeat;
}
.hr div:before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  border: 1px solid #682426;
}
.filter-white {
  filter: var(--filter-white);
}
.filter-black {
  filter: var(--filter-black);
}
.filter-theme {
  filter: var(--filter-theme);
}
section#main-video {
  height: 65vh;
  min-height: 390px;
  background-image: url(../images/main.jpg);
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  padding-top: 80px;
}
.main-video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 40px 0;
}
.main-title-wrapper {
  background-color: #fff;
  padding: 15px 40px;
  border-bottom: 2px solid #f66262;
}
.main-title {
  font-size: 3.8em;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.main-title-sub {
  font-size: 1.3em;
  text-align: right;
  display: block;
  font-weight: 400;
  margin-bottom: 10px;
}
#main-video-player {
  width: 100%;
}

.main-profits-folders-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 0;
}
.main-profits-folder-main {
  height: 270px;
  width: 40%;
  margin: 10px;
  position: relative;
  background-position: center;
  background-size: 100%;
  overflow: hidden;
}
.main-profits-folder-main:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 10px;
  top: 10px;
  border: 1px solid #fff;
}
.main-profits-folder-main-title-outer {
  background: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  padding-left: 15px;
  border-left: 2px solid #f66262;
}
.main-profits-folder-main-title-intro {
  font-size: 0.7em;
  margin-bottom: 10px;
}
.main-profits-folders {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.main-profits-folder {
  height: 270px;
  width: 32%;
  background-position: center;
  position: relative;
  background-size: cover;
}
@media (max-width: 1024px) {
  .main-profits-folder {
    height: 270px;
    width: calc(50% - 10px);
  }
}
.main-profits-folder-main-title-text {
  font-size: 1.4em;
  width: 260px;
}
.main-profits-folder-title {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 10px 10px;
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  position: absolute;
  z-index: 3;
}
.main-profits-folder-title-number {
  font-size: 3em;
  font-weight: 600;
  margin-right: 20px;
  color: #fff;
}
.main-profits-folder-title-text {
  font-size: 1em;
  color: #fff;
}
.main-profits-folder-more {
  padding: 7px 10px;
  padding-right: 50px;
  font-size: 0.9em;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  background-color: var(--white-color);
  background-image: url(../images/button-icon-2.png);
  background-repeat: no-repeat;
  background-position: 85%;
  transition: 0.3s;
}
.padding .main-profits-folder:before {
  padding: 20px;
}
.main-profits-folder:before {
  content: "";
  width: 0;
  height: 0;
  border: 1px solid var(--white-color);
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: 0.4s;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.main-profits-folder:after {
  content: "";
  /*background-color: #333333cc;*/
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}
.main-profits-folder:hover:before {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.main-profits-folder:hover:after {
  opacity: 1;
}
.main-profits-folder:hover .main-profits-folder-more {
  background-color: var(--white-color);
  color: var(--black-color);
}
.main-profits-folder-title {
  position: absolute;
}
.main-profits-description {
  font-size: 14px;
  position: absolute;
  padding: 0 20px;
  top: 20%;
  text-align: center;
  visibility: hidden;
  color: var(--white-color);
}
.main-profits-folder:hover .main-profits-description {
  visibility: visible;
}
.main-profits-folder:hover .main-profits-folder-title-number,
.main-profits-folder:hover .main-profits-folder-title-text {
  visibility: hidden;
}
.main-profits-folder:hover .main-profits-folder-title {
  height: 93%;
  background-color: rgba(0, 0, 0, 0.5);
}
#main-conditions {
  margin-top: 40px;
}
.main-conditions-title-container {
  background-color: var(--theme-color);
}
.main-conditions-title {
  margin: 0;
  color: var(--white-color);
}
.main-conditions-subtitle {
  color: var(--white-color);
}
.main-conditions-banner {
  background-image: url(../images/main-conditions-1.png);
  height: 490px;
  background-position: center -220px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main-conditions-banner-title {
  position: absolute;
  right: 0;
  bottom: 7%;
  background-color: #fff;
  padding: 20px;
  padding-right: 7%;
}
.main-conditions-banner-intro {
  font-size: 0.8em;
  margin-bottom: 15px;
}
.main-conditions-banner-subtitle {
  font-weight: 400;
  font-size: 2em;
  width: 350px;
}
.main-conditions-banner-more {
  font-size: 0.9em;
  background-color: #333;
  color: #fff;
  padding: 7px 15px;
  padding-right: 60px;
  transition: 0.3s;
}
.main-conditions-banner-more:hover {
  background-color: #f66262;
}
.main-conditions-tabs-buttons {
  display: flex;
  justify-content: space-between;
}
.main-conditions-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.main-conditions-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px 0;
}
.main-conditions-image {
  max-width: 50%;
}
.main-conditions-image img {
  width: 100%;
}
.main-conditions-text {
  max-width: 50%;
  padding: 20px 15px;
  font-size: 14px;
}
h3 {
  color: var(--theme-color);
  font-weight: 700;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.d-none-m {
  display: block;
}
.main-conditions-text p {
  padding: 15px 0 0;
}
@media (max-width: 1024px) {
  .main-conditions-text {
    font-size: 0.9em;
  }
}
@media (max-width: 768px) {
  .order-1 {
    order: 2;
  }
  .order-2 {
    order: 1;
  }
  .main-conditions-text {
    max-width: 50%;
    font-size: 0.9em;
  }
  .d-none-m {
    display: none;
  }
}
@media (max-width: 560px) {
  .main-conditions-tabs {
    gap: 30px 0;
  }
  .main-conditions-item {
    flex-direction: column;
    width: 100%;
  }
  .main-conditions-image {
    max-width: 100%;
    padding: 0;
  }
  .main-conditions-text {
    max-width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .main-conditions-tabs-buttons {
    flex-direction: column;
    margin-top: 20px;
  }
  .main-conditions-tabs-buttons .main-conditions-tabs-button {
    width: 100%;
    margin: 2px !important;
  }
  .main-conditions-tabs-buttons .main-conditions-tabs-button-content {
    display: none;
  }
  .main-conditions-tabs-buttons .main-conditions-tabs-button-image {
    display: none;
  }
}
.main-conditions-tabs-button {
  width: 30%;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 2px 3px #33333329;
  padding: 10px;
}
.main-conditions-tabs-button-image {
  width: 100%;
  height: 170px;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-conditions-tabs-button-title {
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
  font-size: 1em;
}
.main-conditions-tabs-button {
  width: 32%;
  margin-top: 30px;
  margin-bottom: 20px;
  box-shadow: 0 2px 3px #33333329;
  padding: 10px;
  transition: 0.5s;
  transition-delay: 0.5s;
  cursor: pointer;
}
.main-conditions-tabs-button.active {
  margin-bottom: 0;
  background-color: #f3f4f6;
}
.main-conditions-tabs-button-content {
  font-size: 0.9em;
  text-align: center;
  padding: 20px 10px;
  padding-top: 0;
}
.main-conditions-tabs-contents {
  position: relative;
  height: 500px;
}
@media (max-width: 768px) {
  .main-conditions-tabs-contents {
    height: 660px;
    margin-top: 20px;
  }
}
.main-conditions-tabs-content {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  background-color: #f3f4f6;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 2px 3px #33333329;
}
.main-conditions-tabs-content.active {
  transition-delay: 0.5s;
  opacity: 1;
  pointer-events: all;
}
.main-conditions-tabs-content-image {
  width: 49%;
  height: 400px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .main-conditions-tabs-content-image {
    display: none;
  }
}
.main-conditions-tabs-content-text {
  width: 48%;
}
@media (max-width: 768px) {
  .main-conditions-tabs-content-text {
    width: 100%;
  }
}
.main-conditions-tabs-content-title {
  font-weight: 500;
  margin-bottom: 20px;
}
.main-conditions-tabs-content-p {
  margin-bottom: 30px;
  font-size: 0.9em;
}
.main-conditions-tabs-content-button {
  background-color: #f66262;
  padding: 10px;
  padding-left: 50px;
  color: #fff;
  background-image: url(../images/button-icon.png);
  background-repeat: no-repeat;
  background-size: 1.2em;
  background-position: 20px;
}
.main-conditions-tabs-content-special {
  margin-top: 20px;
  font-size: 0.8em;
  font-weight: 300;
}
section#main-service {
  margin: 50px 0 0;
  padding: 50px 0;
  background-color: var(--theme-color);
  /*background-image: url(../images/bg-main-service.jpg);
    background-size: cover;
    background-attachment: fixed;*/
}
.main-service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 1em;
  margin: 50px;
}

.main-service-elem {
  display: flex;
  align-items: center;
  width: 30%;
  transition: 0.5s;
}
@media (max-width: 1024px) {
  .main-service-elem {
    width: 45%;
  }
}
@media (max-width: 500px) {
  .main-service-elem {
    width: 100%;
  }
}
.main-service-elem:hover .main-service-elem-image {
  border: 2px solid var(--white-color);
  transition: 1s;
}
.main-service-elem-image {
  border: 2px solid var(--white-color);
  border-radius: 50%;
  min-width: 50px;
  height: 50px;
  text-align: center;
}
.main-service-elem-image img {
  padding: 10px 0 0;
  filter: var(--filter-white);
}
.main-service-elem-title {
  font-size: 0.9em;
  padding-left: 20px;
  color: var(--white-color);
}
.main-service-logo {
  height: 66px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 50px 0;
}
@media (max-width: 768px) {
  .main-service-logo {
    display: none;
  }
}
#main-map {
  margin: 30px 0;
}
.main-map-container {
  display: flex;
  position: relative;
}
#main-map-engine {
  height: 500px;
  width: 70%;
}
@media (max-width: 768px) {
  #main-map-engine {
    width: 100%;
  }
}
.main-map-title.section-title {
  width: 50%;
  margin-bottom: 30px;
}
.main-map-controls {
  width: 30%;
}
@media (max-width: 768px) {
  .main-map-controls {
    display: none;
  }
}
.main-map-control {
  display: flex;
  padding: 29.1px 10px;
  align-items: center;
  cursor: pointer;
  background-size: cover;
}
.main-map-control-time {
  color: #f66262;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.4em;
  margin-right: 30px;
}
.main-map-control-time-subtitle {
  font-size: 0.8em;
  margin-bottom: 5px;
}
.main-map-control-time-title {
  font-weight: 700;
  font-size: 1.1em;
  text-transform: uppercase;
}
.main-map-control:hover .main-map-control-time-subtitle,
.main-map-control:hover .main-map-control-time-title,
.main-map-control.active .main-map-control-time-subtitle,
.main-map-control.active .main-map-control-time-title {
  color: #f66262;
}
.main-clients-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: space-evenly;
}
.main-clients-container img {
  width: 200px;
  filter: grayscale(100%) opacity(100);
  transition: 0.5s;
}
.main-clients-container img:hover {
  filter: grayscale(0) opacity(100%);
}
section#main-client {
  position: relative;
  margin: 20px 0 30px;
}
@media (max-width: 768px) {
  section#main-client {
    margin: 0;
  }
  .main-clients-container img {
    width: 120px;
  }
}
.main-clients-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .main-clients-wrapper {
    flex-direction: column;
  }
}
.main-clients-content-more {
  background-color: #000;
  color: #fff;
  padding: 7px 10px;
  padding-right: 50px;
  font-size: 0.9em;
  transition: 0.3s;
  background-image: url(../images/button-icon-3.png);
  background-repeat: no-repeat;
  background-position: 85%;
  background-size: 0.9em;
}
.main-clients-list {
  width: 37%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}
@media (max-width: 768px) {
  .main-clients-list {
    width: 100%;
  }
}
.main-clients-contents {
  width: 60%;
}
@media (max-width: 768px) {
  .main-clients-contents {
    width: 100%;
  }
}
.main-clients-content {
  display: none;
}
.main-clients-content.active {
  display: block;
}
.main-clients-elem {
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.4;
  transition: 0.4s;
  cursor: pointer;
}
.main-clients-elem.active,
.main-clients-elem:hover {
  opacity: 1;
  transform: scale(1.05);
}
.main-clients-contents {
  width: 60%;
  background-color: #f5f6f8;
  padding: 30px;
}
@media (max-width: 768px) {
  .main-clients-contents {
    width: 100%;
  }
}
.main-clients-content-name {
  font-size: 0.8em;
  margin-bottom: 10px;
}
.main-clients-content-title {
  font-weight: 500;
  font-size: 1.3em;
  margin-bottom: 20px;
}
.main-clients-content-text-p {
  font-size: 0.9em;
  margin: 20px 0;
}
section#news-preview {
  margin: 60px 0;
  background-color: #f5f6f8;
  padding: 30px;
}
h1.news-subsection-title.subsection-title {
  color: #333;
  text-shadow: none;
  padding: 0;
}
h2.news-subsection-subtitle.subsection-subtitle {
  color: #333;
  text-shadow: none;
}
.news-preview-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}
.news-preview-elem-date {
  font-size: 0.8em;
  margin-bottom: 25px;
}
.news-preview-elem-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 1.1em;
}
.news-preview-elem-text {
  font-size: 0.9em;
  margin-bottom: 20px;
}
.news-preview-elem-more {
  font-size: 0.9em;
  padding: 4px 15px;
  padding-right: 35px;
  background-color: #333;
  color: #fff;
  display: block;
  width: 140px;
  margin-top: 30px;
  background-image: url(../images/button-icon-3.png);
  background-repeat: no-repeat;
  background-position: 92%;
  background-size: 0.7em;
}
.news-preview-more {
  text-decoration: underline;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 50px;
}
.main-news-title {
  margin-bottom: 70px;
}
section#news-main {
  background-image: url(../images/news/main.jpg);
  height: 55vh;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
.news-subsection-title {
  padding: 0;
}
section#news-list {
  margin: 30px 0;
}
.news-list-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.news-list-elem {
  background-color: #f5f6f8;
  padding-bottom: 50px;
  box-shadow: 0 0 2px #ccc;
  position: relative;
}
.news-list-elem-image {
  height: 210px;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}
.news-list-elem-title {
  font-weight: 600;
  margin-bottom: 5px;
  padding: 0 20px;
}
.news-list-elem-intro {
  font-size: 0.9em;
  padding: 0 20px;
  margin: 15px 0;
  font-weight: 300;
}
.news-list-elem-more {
  display: block;
  background-color: #000;
  color: #fff;
  padding: 5px;
  padding-left: 37px;
  margin: 20px;
  font-size: 0.9em;
  width: 36%;
  float: right;
  background-image: url(../images/button-icon.png);
  background-repeat: no-repeat;
  background-size: 1.2em;
  background-position: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.news-single {
  min-height: 50vh;
  margin: 50px;
}
section#about-main {
  height: 80vh;
  background-image: url(../images/about.png);
  min-height: 520px;
  background-position: 0;
  background-size: cover;
  position: relative;
}
@media (max-width: 768px) {
  section#about-main {
    height: 150px;
    min-height: 0;
    background-position: top left;
    background-size: 130%;
    position: relative;
    padding-bottom: 290px;
    background-repeat: no-repeat;
  }
  section#about-main .main-conditions-banner-title {
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
.about-persons-title.section-title {
  width: 64%;
  margin-top: 40px;
}
.about-persons-subtitle.section-subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 1.1em;
  width: 55%;
  margin: auto;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .about-persons-subtitle.section-subtitle {
    width: 100%;
  }
}
.about-persons-person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
@media (max-width: 768px) {
  .about-persons-person {
    flex-direction: column;
  }
}
.about-persons-person:nth-child(even) {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .about-persons-person:nth-child(even) {
    flex-direction: column;
  }
}
.about-persons-person-img {
  height: 400px;
}
@media (max-width: 768px) {
  .about-persons-person-img {
    width: 100%;
    height: auto;
  }
}
.about-persons-person-info {
  width: 60%;
  background-color: #f7f8fa;
  padding: 40px;
}
.about-persons-person-name {
  font-size: 1.6em;
  font-weight: 500;
}
.about-persons-person-position {
  margin: 10px 0;
  padding: 10px 0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  font-size: 0.9em;
  font-weight: 300;
  color: #333333c9;
}
.about-persons-person-description-p {
  margin: 20px 0px;
  font-size: 0.9em;
  color: #333333c2;
}
.about-persons-person-info {
  width: 60%;
  background-color: #f7f8fa;
  padding: 40px;
  padding-bottom: 190px;
  position: relative;
}
@media (max-width: 768px) {
  .about-persons-person-info {
    width: 100%;
    padding: 30px;
    padding-bottom: 100px;
  }
}
.about-persons-person-slogan {
  position: absolute;
  font-size: 6em;
  font-weight: 600;
  left: -10%;
  color: #ccc;
}
@media (max-width: 768px) {
  .about-persons-person-slogan {
    font-size: 3.1em;
    left: 50%;
    transform: translateX(-50%);
  }
}
.about-persons-person:nth-child(even) .about-persons-person-slogan {
  left: auto;
  right: -10%;
}
@media (max-width: 768px) {
  .about-persons-person:nth-child(even) .about-persons-person-slogan {
    font-size: 3.1em;
    left: 50%;
    transform: translateX(-50%);
  }
}
.about-persons-person-image {
  position: relative;
  text-align: center;
}
@media (max-width: 768px) {
  .about-persons-person-image {
    width: 71%;
    margin: auto;
    margin-bottom: 30px;
  }
}
.about-persons-person-image:before {
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #33333347;
  position: absolute;
  z-index: -1;
  right: -10px;
  bottom: -10px;
}
.about-persons-person:nth-child(even) .about-persons-person-image:before {
  left: -10px;
  right: auto;
}
.about-review:nth-child(3n + 1) {
  background-image: url(../images/about-reviews-bg-1.png);
}
.about-review:nth-child(3n + 2) {
  background-image: url(../images/about-reviews-bg-2.png);
}
.about-review:nth-child(3n + 3) {
  background-image: url(../images/about-reviews-bg-3.png);
}
.about-reviews-container {
  height: 340px;
  position: relative;
  margin-bottom: 30px;
}
.about-review {
  position: relative;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #333;
  transition: 0.3s;
}
.about-review:hover {
  border-color: #f66262;
}
.about-review-person {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 28%;
  position: absolute;
}
.about-review-text {
  text-align: center;
  padding: 30px;
  color: #000;
  font-weight: 400;
}
.about-review-photo {
  width: 80px;
  height: 80px;
  background-image: url(../images/about-persons-4.png);
  background-position: top;
  background-size: 100px;
  border-radius: 50%;
}
.about-review-name {
  margin-top: 12px;
  font-size: 0.9em;
}
.about-persons-controls {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.about-persons-controls-next,
.about-persons-controls-prev {
  margin: 0 20px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.9;
  border-bottom: 1px dotted #333;
  transition: 0.3s;
}
.about-persons-controls-next:hover,
.about-persons-controls-prev:hover {
  opacity: 1;
  border-bottom: 1px solid #333;
}
.about-question {
  margin: 20px 0;
  background-color: #f7f8fa;
  padding: 20px 40px;
  padding-top: 10px;
}
@media (max-width: 768px) {
  .about-question {
    padding: 30px;
  }
}
.about-question-title {
  font-size: 1.9em;
  font-weight: 500;
  padding: 20px 0;
  padding-left: 60px;
  background-image: url(../images/logo-sign.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 43px;
}
@media (max-width: 768px) {
  .about-question-title {
    padding: 0;
    background: none;
    font-size: 1.3em;
  }
}
.about-question-answer {
  font-size: 0.9em;
  opacity: 0.9;
}
section#contacts-main {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 390px;
  background-image: url(../images/contacts.png);
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  section#contacts-main {
    height: 30vh;
  }
}
h1.subsection-title {
  text-align: center;
  color: #fff;
  font-size: 3.6em;
  text-shadow: 0 0 2px #333;
}
h2.subsection-subtitle {
  text-align: center;
  color: #fff;
  font-size: 2em;
  text-shadow: 0 0 2px #333;
  font-weight: 200;
}
.contacts-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts-info-values {
  width: 30%;
  padding-left: 30px;
}
@media (max-width: 768px) {
  .contacts-info-wrapper {
    flex-direction: column;
  }
  .contacts-info-wrapper #contacts-map {
    width: 100%;
    margin-bottom: 20px;
  }
  .contacts-info-values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
    width: 100%;
    padding: 0;
  }
}
.contacts-info-value-title {
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 10px;
}
.contacts-info-value-content {
  font-weight: 500;
}
.contacts-info-value {
  margin-bottom: 15px;
}
.contacts-info-value-content {
  margin-bottom: 10px;
}
#contacts-map {
  position: relative;
  width: 100%;
  max-height: 510px;
  border-top: 5px solid var(--theme-color);
  border-bottom: 5px solid var(--theme-color);
}
.map-overlay {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.anticorruption {
  padding-top: 20px;
}
section#companies-main {
  height: 450px;
}
.companies-main-title-block {
  float: right;
  margin-top: 10%;
  padding-bottom: 160px;
}
.companies-main-title {
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 5px;
}
.companies-main-subtitle {
  font-size: 1.2em;
}
.companies-main-title-block {
  float: right;
  margin-top: 10%;
  padding-bottom: 140px;
}
.delimobil-main {
  background-image: url(../images/companies/delimobil/delimobil-1.png);
  background-size: cover;
}
.delimobil-main-title-block {
  background-image: url(../images/companies/delimobil/delimobil-2.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: bottom;
}
section#companies-about {
  background-color: #f7f8fa;
  padding: 50px 0;
  margin-top: 30px;
}
.companies-about-container {
  width: 950px;
  text-align: center;
}
.companies-about-content p {
  margin: 30px 0;
}
.companies-about-subcontent {
  text-align: left;
  font-size: 1em;
  width: 630px;
  margin: 40px auto;
  margin-top: 80px;
  font-style: italic;
  font-weight: 300;
}
.delimobil-about {
  background-image: url(../images/companies/delimobil/delimobil-3.png);
  background-size: 1920px;
  background-position: center;
  background-repeat: no-repeat;
}
section#companies-profits {
  padding: 50px 0px;
  padding-bottom: 60px;
}
.companies-profits-title {
  color: #fff;
  font-weight: 300;
  width: 50%;
}
.companies-profits-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  margin-top: 50px;
}
.companies-profits-elem {
  text-align: center;
}
.companies-profits-elem-value {
  font-size: 2.7em;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}
.companies-profits-elem-title {
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 15px;
}
.companies-profits-elem-description {
  color: #fff;
  font-size: 0.9em;
  font-weight: 200;
}
.companies-profits-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3em;
  margin-top: 50px;
}
.delimobil-profits {
  background-color: #00b9ab;
  color: #fff;
}
#companies-services {
  margin: 30px 0;
}
.container.companies-services-tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
  margin-top: 2em;
}
.companies-services-tab {
  box-shadow: 0 2px 3px #33333329;
  transition: 0.5s;
  transition-delay: 0.5s;
  cursor: pointer;
  margin-bottom: 20px;
}
.companies-services-tab.active {
  padding-bottom: 20px;
  background-color: #f7f8fa;
  margin-bottom: 0;
}
.companies-services-tab-image {
  height: 180px;
  background-size: cover;
}
.companies-services-tab-title {
  text-align: center;
  padding: 20px 10px;
  font-size: 1.1em;
  font-weight: 600;
}
.companies-services-tab-content {
  padding: 20px 20px;
  padding-top: 0;
  text-align: center;
}
.companies-services-contents {
  background-color: #f7f8fa;
  padding: 20px 0;
  height: 400px;
  position: relative;
}
.companies-services-content {
  opacity: 0;
  transition: 0.5s;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
}
.companies-services-content.active {
  opacity: 1;
}
.companies-services-content-title {
  font-size: 1.9em;
  font-weight: 500;
  margin-bottom: 20px;
}
.companies-services-content p {
  margin: 30px;
}
.delimobil-services
  .companies-services-tab.active
  .companies-services-tab-title {
  color: #00b9ab;
}
section#companies-banner {
  margin: 30px 0;
  padding: 50px 0;
}
.companies-banner-title {
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}
.companies-banner-title-content {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 200;
}
.delimobil-banner {
  background: linear-gradient(to right, #00b5ad, #00a0b7);
}
.delimobil-banner-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.delimobil-banner-link {
  display: block;
  width: 130px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 10px;
}
.companies-partners-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin-bottom: 30px;
}
.companies-partners-elem-content-title {
  font-weight: 500;
  margin-bottom: 15px;
}
.companies-partners-elem-content-content {
  font-size: 0.9em;
}
.companies-partners-elem {
  display: flex;
  justify-content: space-between;
}
.companies-partners-elem-content {
  width: 75%;
}
.companies-partners-elem-icon {
  width: 20%;
  margin-right: 5%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
section#companies-cooperation {
  margin-top: 50px;
}
.cooperation-container {
  display: flex;
  justify-content: space-between;
  background-color: #f7f8fa;
  margin-top: 30px;
}
.cooperation-content {
  width: 50%;
  padding: 20px;
}
.cooperation-image {
  width: 50%;
  background-image: url(../images/companies/delimobil/delimobil-parnters.png);
  margin-right: 1em;
}
.cooperation-content-title {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 40px;
}
.cooperation-content-line {
  font-size: 0.9em;
  margin: 20px 0;
}
.cooperation-image {
  width: 50%;
  background-image: url(../images/companies/delimobil/delimobil-parnters.png);
  margin-right: 1em;
  background-size: cover;
}
section#office-main {
  height: 30vh;
  min-height: 390px;
  background-image: url(../images/office.png);
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
}
.main-color {
  background-color: var(--theme-color);
  margin-top: 40px;
  padding-bottom: 40px;
}
.main-color .office-list-elem {
  padding: 20px 20px 0;
  margin: 0 0 40px;
  background-color: #fff;
}
.office-main-title {
  font-size: 3.6em;
}
@media (max-width: 768px) {
  .office-main-title {
    font-size: 1.6em;
  }
}
.office-main-subtitle {
  font-size: 1.6em;
  font-weight: 300;
  text-align: center;
  margin: 10px;
}
@media (max-width: 768px) {
  .office-main-subtitle {
    font-size: 1.7em;
    text-align: center;
    margin-top: 30px;
  }
}
.office-main-list {
  font-size: 1.6em;
  font-weight: 300;
}
section#office-banner {
  height: 280px;
  background-color: #000;
}
@media (max-width: 768px) {
  section#office-banner {
    height: auto;
    padding: 20px;
  }
}
.office-banner-container {
  height: 280px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.office-banner-title {
  color: #fff;
  font-size: 1.6em;
}
@media (max-width: 768px) {
  .office-banner-title {
    font-size: 1.2em;
  }
}
.office-banner-text {
  width: 60%;
  color: #fff;
  font-size: 1.1em;
  font-weight: 200;
}
@media (max-width: 768px) {
  .office-banner-text {
    width: 100%;
    font-size: 1em;
    margin-top: 20px;
  }
}
.office-banner-logo {
  width: 100%;
  height: 64px;
  background-image: url(../images/offices/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 30px;
  background-size: contain;
}
@media (max-width: 768px) {
  .office-banner-logo {
    display: none;
  }
}
section#office-services {
  background-color: #f7f8fa;
  padding: 30px 1px;
  margin: 30px 0;
}
.section-subtitle {
  text-align: center;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: -10px;
}
.office-services-slide-image {
  height: 200px;
  background-size: cover;
  background-position: center;
}
.office-services-slide-title {
  text-align: center;
  font-weight: 500;
  font-size: 1.1em;
  margin: 20px;
}
.office-services-slide-content {
  text-align: center;
  font-size: 0.9em;
  padding: 20px;
  padding-top: 0;
  height: 80px;
}
.office-services-slider-slide {
  background-color: #f1f2f4;
  height: 340px;
  box-shadow: 0px 2px 2px #ccc;
}
.office-services-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.office-services-controls-button {
  font-size: 0.9em;
  margin: 10px;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid;
  color: #adadad;
  transition: 0.3s;
}
.office-services-controls-button:hover {
  color: #333;
}
.office-elem-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .office-elem-content {
    flex-direction: column;
  }
}
.office-elem-content-description {
  font-size: 0.9em;
}
.office-elem-content-metrics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 20px 0;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .office-elem-content-metrics {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    font-size: 0.9em;
  }
}
.office-elem-content-metric {
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #ccc;
  padding-left: 1px;
  padding: 0px 15px;
}
.office-elem-content-metric:last-child {
  border-right: unset;
}
@media (max-width: 768px) {
  .office-elem-content-metric {
    height: auto;
  }
}
.office-elem-content-text-metric-value {
  font-weight: 600;
  font-size: 1.2em;
}
.office-elem-content-text {
  width: 100%;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .office-elem-content-text {
    width: 100%;
    margin: 0;
  }
}
.office-elem-content-image {
  width: 33%;
}
@media (max-width: 768px) {
  .office-elem-content-image {
    width: 100%;
    text-align: center;
  }
}
.office-elem-content-image-slider.swiper-container {
  height: 100%;
}
.office-elem-content-image-slide {
  background-size: cover;
  background-position: center;
}
.office-elem-title {
  font-size: 1.5em;
  font-weight: 500;
  position: relative;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .office-elem-title {
    border: none;
  }
}
.office-list-elem {
  margin: 30px 0;
  border-bottom: 2px solid var(--theme-color);
}
.office-elem-content-action {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .office-elem-content-action {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
  }
}
.office-elem-content-action-description {
  font-size: 0.9em;
  border-bottom: 1px solid;
  width: 62%;
  padding: 8px 0;
}
@media (max-width: 768px) {
  .office-elem-content-action-description {
    width: 100%;
    margin-bottom: 10px;
    border: none;
  }
}
.office-elem-content-message-button {
  border: none;
  background-color: var(--theme-color);
  padding: 10px;
  color: #fff;
  padding-left: 35px;
  cursor: pointer;
  background-image: url(../images/message.svg);
  background-repeat: no-repeat;
  background-size: 1.2em;
  background-position: 10px;
  font-size: 0.8em;
  transition: 0.5s;
}
.office-elem-content-message-button:hover {
  background-color: var(--theme-color);
  color: #fff;
  opacity: 0.9;
}
.office-elem-content-list-button {
  border: none;
  padding: 12px;
  color: #682426;
  text-decoration: underline;
  padding-left: 35px;
  cursor: pointer;
  background-image: url(../images/list-theme-color.png);
  background-repeat: no-repeat;
  background-size: 1.4em;
  background-position: 10px;
  font-size: 0.8em;
  transition: 0.5s;
}
.office-elem-content-list-button:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .office-elem-content-action-button {
    margin: 0;
  }
}
.office-elem-content-profits {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
}
.office-elem-content-profit:nth-child(1) {
  background-image: url("../images/profits-1.png");
}
.office-elem-content-profit:nth-child(2) {
  background-image: url("../images/profits-2.png");
}
.office-elem-content-profit:nth-child(3) {
  background-image: url("../images/profits-3.png");
}
.office-elem-content-profit:nth-child(4) {
  background-image: url("../images/profits-4.png");
}
@media (max-width: 768px) {
  .office-elem-content-profits {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.office-elem-content-profit {
  padding: 13px 0;
  padding-left: 33px;
  background-position: left;
  background-size: 1.7em;
  background-repeat: no-repeat;
  font-size: 0.8em;
  color: #333333cf;
  margin-right: 10px;
}
section#modals {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
section#modals.active {
  display: flex;
  z-index: 100;
}
.modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333333b3;
  z-index: -1;
  cursor: pointer;
  display: none;
}
.modal-overlay.active {
  display: block;
}
.modal-form {
  margin-top: 20px;
}
.modal-container {
  background-color: #fff;
  padding: 20px;
  position: relative;
  width: 50%;
  display: none;
}
@media (max-width: 768px) {
  .modal-container {
    width: 90%;
  }
}
.modal-container.active {
  display: block;
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  cursor: pointer;
}
h3.modal-title {
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  h3.modal-title {
    font-size: 1.2em;
  }
}
form.modal-form-inputs {
  display: flex;
  flex-direction: column;
}
.modal-form-input {
  border: none;
  padding: 10px;
  border-bottom: 1px solid #3333336b;
  font-size: 0.9em;
  margin: 10px 0;
}
button.modal-form-button {
  border: none;
  background-color: #000;
  padding: 10px;
  color: #fff;
  margin-top: 30px;
  padding-left: 50px;
  cursor: pointer;
  background-image: url(../images/button-icon.png);
  background-repeat: no-repeat;
  background-size: 1.2em;
  background-position: 20px;
  width: 30%;
}
@media (max-width: 768px) {
  button.modal-form-button {
    width: 100%;
  }
}
.modal-success-response {
  margin: 31px;
  text-align: center;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  .section-title {
    width: 90% !important;
    font-size: 1.2em;
  }
  .main-video-overlay {
    height: 190px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  h1.main-title {
    font-size: 1.7em;
    font-weight: 500;
    text-align: center;
  }
  .main-title-sub {
    font-size: 1.1em;
    text-align: center;
  }
  section#main-video {
    height: 40vh;
    min-height: auto;
  }
  .main-profits-folders-row {
    flex-direction: column;
    width: 100%;
  }
  .main-profits-folder-main {
    width: 100%;
    margin: auto;
  }
  .main-conditions-banner {
    display: none;
  }
}
.swiper {
  height: 290px;
}
.swiper-slide img {
  width: 395px;
}
@media (max-width: 768px) {
  .swiper {
    height: 100%;
  }
}
@media (max-width: 570px) {
  .main-profits-folder {
    width: 100%;
    margin: 10px auto;
  }
  .swiper-button-next {
    display: none;
  }
}
.white {
  color: var(--white-color);
}
.inactive {
  cursor: auto;
  background-color: unset;
  color: var(--theme-color);
  border: 1px solid var(--theme-color);
  padding-left: 12px;
  border-radius: 5px;
}
.swiper {
  width: 100%;
  height: 155px;
  position: relative;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 200px;
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: calc(50% + 60px);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
.swiper-button-prev {
  left: calc(50% - 675px);
}
.swiper-button-next {
  left: calc(50% + 645px);
}
@media (max-width: 570px) {
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
}
